<div class="container vh-80 d-flex align-items-center justify-content-center">
  <div>
    <h1 class="display-4 text-primary text-center">
      Welcome to Your New Favorite Chat Space
    </h1>
    <p class="lead text-secondary mt-3">
      Connect with friends or make new ones in real-time. Create your own chat
      room or join an existing conversation. It's simple, secure, and all about
      staying connected.
    </p>
    <div class="mt-3">
      <label class="lead text-primary" for="">Name</label>
      <input
        id="userName"
        name="userName"
        class="form-control"
        type="text"
        [(ngModel)]="name"
      />
    </div>
    <div class="mt-3">
      <button class="btn btn-primary" (click)="exploreChats()">
        Explore chats
      </button>
    </div>
  </div>
</div>
