<div class="container mt-3">
  <div #messagesContainer class="messages-container d-flex flex-column">
    <ng-container *ngIf="isAnyMessage; else empty_chat">
      <ng-container *ngFor="let msg of messages">
        <div
          class="message-container mt-2"
          [ngClass]="getMessageClass(msg.userId)"
        >
          <app-message [message]="msg"></app-message>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="d-flex mt-2 gap-2">
    <app-add-message [userId]="userId" [chatId]="chatId" class="flex-grow-1">
    </app-add-message>
    <button class="btn btn-primary" (click)="leaveChat()">
      <i class="bi bi-door-open-fill"></i>
    </button>
  </div>
</div>
<ng-template #empty_chat>
  <div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="display-6 text-primary mt-3">Write first message!</h1>
  </div>
</ng-template>
