.message-container {
  padding: 10px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.message-sender {
  font-size: 16px;
  margin: 0px;
  color: #1e90ff;
}

.message-timestamp {
  font-size: 11px;
  margin: 0px;
  color: #b1b1b1;
}

.message-content {
  color: #333333;
  font-size: 14px;
}
